<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>CondoIQ - Dashboard</title>
   <link rel="icon" href="{{ url_for('static', filename='imagens/logo.png') }}" type="image/png">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    
    <!-- Sidebar -->
  <aside class="sidebar">
  <a href="{{ url_for('home') }}" class="logo-link">
    <img src="{{ url_for('static', filename='imagens/logo.png') }}" alt="Logo Aquarela" class="logo-img">
  </a>
  <nav>
    <ul>
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Finanças</a></li>
      <li><a href="#">Agenda</a></li>
      <li><a href="#">Manutenção</a></li>
    </ul>
  </nav>
</aside>


    
    <!-- Conteúdo principal -->
    <main class="main-content">
      
      <!-- Cabeçalho -->
      <header class="header">
        <h1>Painel de controle</h1>
        <div class="user-actions">
          <span class="icon">🔔</span>
          <span class="icon">👤</span>

        </div>
      </header>
      
      <!-- Cards principais -->
      <section class="cards">
        <div class="card">
          <h3>Despesas deste mês</h3>
          <p class="valor">R$ 2.000</p>
          <small>Atualizado hoje</small>
        </div>
        <div class="card">
          <h3>Reuniões</h3>
          <p>15 de Maio, 18h</p>
          <small>Ver agenda completa</small>
        </div>
        <div class="card">
          <h3>Manutenções</h3>
          <p>Vazamento na piscina</p>
          <span class="status pendente">Pendente</span>
        </div>
      </section>
      
      <!-- Comunicados -->
      <section class="comunicados">
        <h2>Comunicados Recentes</h2>
        <div class="comunicado">
          <p><strong>Aviso:</strong> Limpeza da garagem dia 28/08.</p>
        </div>
        <div class="comunicado">
          <p><strong>Reserva:</strong> Dona Maria reserva a churrasqueira para seu churrasco vegano no próximo domingo dia 21/08.</p>
        </div>
      </section>
      
    </main>
  </div>
</body>
</html>
